@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppinss/Poppins-Bold.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppinss/Poppins-Medium.ttf);
    font-weight: 700;
}